.intro__title {
  display: block;
  margin: 0;
  padding: 92px 0 40px;
  max-width: 690px;
  min-height: 58px;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
}
@media screen and (max-width: 1023px) {
  .intro__title {
    padding: 86px 0 40px;
    max-width: 690px;
  }
}
@media screen and (max-width: 767px) {
  .intro__title {
    padding: 62px 0 40px;
    min-width: 288px;
    max-height: 70px;
    font-size: 32px;
    line-height: 1.09;
  }
}
